* { 
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	outline: 1px solid transparent;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}

body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	/* sets hyphenation by default on paragraphs */

textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	


.homepage-wrap {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	background: #cccccc;
	position: relative;
}
	
.circle-solo, .central-hub, .circles-bottom {
	display: block;
}

.circle {
	width:40vh;
	min-height: 40vh;
	background: red;
	border-radius: 50%;
}

.circle-top {
	margin: 0 auto;
}

.middle-triangle {
    width: 100%;
    max-width: 65vh;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 50px 40px;
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background: #1C1C1C;

}

.middle-triangle::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 12px;
    height: 100%;
    height: calc(100% - 22px);
    width: 100%;
    width: calc(100% + -24px);
    background-color: #FFFFFF;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    z-index: -999;
    background-size: contain;
}

.middle-triangle .circles-dual .third-item {
    text-align: right;
    margin: 0;
}


.outer-triangle {
	min-height: 30vh;
	background: #fff;
}


.outer-triangle .third-item, .middle-triangle .first-item {
    text-align: center;
    display: block;
    margin: 0 auto;
	
}

.middle-triangle {
	position: relative;
		margin-bottom: 20%;
}


.inner-triangle.triangle {
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    width: 50%;
    height: 50%;
    background: #1C1C1C;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.inner-triangle.triangle::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 12px;
    height: 100%;
    height: calc(100% - 22px);
    width: 100%;
    width: calc(100% + -24px);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    z-index: -999;
    background-image: url(../images/37359522-broken-chain.webp);
    background-size: contain;
}


.circles-dual {
	display: flex;
	justify-content: space-between;
	margin-bottom: -10%;	
}

.middle-triangle .circles-dual {
    margin-bottom: 0;
}



.outer-triangle {
    min-height: 80vh;
    background: #fff;
}



.main-circles {
		margin-top: -45%;
	 
}

 .circle-left {

 }
 
 
  .circle-right {

 }
 




